<h2>Propety</h2>
<!-- Entry -->
<div class="w-75">
  <form (ngSubmit)="postOrPut()">
    <!-- form-group separator -->
    <div class="form-group row">
      <label for="Name" class="col-2 col-form-label-sm">Name</label>
      <div class="col-10">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="entryDto.Name"  name="Name" id="Name"
          placeholder="Name giriniz">
      </div>
    </div> 
    <!-- form-group separator -->
    <div class="text-right">
      <button type="submit" class="btn btn-success btn-sm" ngbTooltip="Save"><i class="material-icons" >save</i></button>&nbsp;
      <button type="button" class="btn btn-primary btn-sm" ngbTooltip="Cancel" (click)="resetEntry()"><i class="material-icons">refresh</i></button>
    </div>
  </form>
</div>
<!-- Entry -->
<br>


<!-- List -->
<div class=”container”>
  <table class="table table-bordered table-sm m-0">
    <thead style="background-color:#b4cff1">
      <tr>
        <th>#</th>
        <th>Name</th>        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dto of dtoList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ dto.Name }}</td>        
        <td>
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="get(dto)" ngbTooltip="Edit row"><i class="material-icons">border_color</i></button>&nbsp;
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(dto)" ngbTooltip="Delete row"><i class="material-icons">cancel</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- List -->
