<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <add key="environment.name" value="development" />
  <add key="app.name" value="devicemanager" />
  <add key="ui.language.default" value="tr-TR" />
  <add key="log4net.config.path" value="../../../.vhs/${app.name}/logging.${environment.name}.config" />
  <add key="schedule.config.path" value="../../../.vhs/${app.name}/dcheduler.${environment.name}.config" /> 
  <add key="file.upload.path" value="wwwroot/files"/>

  <!-- ########## client settings ########### -->
  <add key="DefaultAPIAddress" value="http://localhost:5001"/>
  <add key="SSOAddress" value="http://sso.vhselektronik.com.tr"/>  
  <!-- <add key="SSOAddress" value="http://localhost:5000"/>   -->
  <add key="SSOClientId" value="cweb"/>  
  <add key="AssetsUrl" value="http://asset.vhselektronik.com.tr"/>
  <add key="DefaultLanguage" value="tr-TR"/>
  <add key="DefaultPagingSize" value="15"/>
  <add key="DefaultBrowserTitle" value= "VHS Elektrinok"/>
  <add key="AllowedMaxExportSize" value="2000"/>
  <add key="FileUploadPath" value="wwwroot/files"/>  

<!-- ########## DatabaseContext ########### -->
  <add key="database.providername" value="System.Data.SQLite" />
  <add key="database.read.connectionString" value="Data Source=../../../.vhs/${app.name}/${app.name}.db;" />
  <add key="database.write.connectionString" value="Data Source=../../../.vhs/${app.name}/${app.name}.db;" /> 
  <add key="database.vendor.connectionString" value="Data Source=../../../.vhs/${app.name}/macaddress-vendors.db;" />   
 
<!-- ########## AUTHORIZATION ########### -->
  <add key="user.anonymous" value="0" />
  <add key="user.system" value="1" />
  <add key="user.admin" value="2" />  
  <add key="role.anonymous" value="Anonymous" />
  <add key="role.system" value="1c86feaa-5db6-4c49-b1d2-96502ac7208c" />
  <add key="role.admin" value="66007699-aa3e-4e13-843f-31f2db97905c" />
</configuration>